footer{
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
        background-color: var(--footer);
        position: sticky;
        top: 100vh;
}

footer img{
    width: 10em;
}