header{
    /* display: flex; */
    min-height: 90px;
    height: 64px;
    margin-top: 0px;
    transform: translateY(0px);
    left: 0px;
    right: 0px;
    background-color: rgb(16, 11, 30);
    border-color: rgb(16, 11, 30);
    
}

.toolbar{
    width: 100%;
    display: flex;
}
.toolbar_logo{
    display: flex;
    flex: 2;
    justify-content: center;
   
}
.toolbar_logo img{
    width: 13em;
}

a img{
    width: 2.2em;
    height: 2.1em;
}
a p{
    margin: auto 0 1px 6px;
    font-size: 17pt;
    
}


.toolbar_nav{
    margin: 2em 1em 1em 6em;
    display: flex;
    flex:2;
    justify-content: space-evenly;
}

.toolbar_social{
    margin: 2em 1em 1em 6em;
    display: flex;
    flex:1;
    justify-content: space-evenly;
   
}

@media(max-width: 1142px ) {

    .toolbar_nav, .toolbar_social{
        display: none;
    }
    .toolbar_logo{
        margin-left: 5em;
        justify-content:flex-start;
    }

    .toolbar_span-menu{
        display: flex;
        margin: 1em 7em 1em 1em;
    }

    .toolbar_span-menu img{
        width: 3em;
    }
    .toolbar_span-menu  img:hover{
        background-color: #f8005f21;

        border-radius: 50%;
    }
   
}