main {
   
    background: #e3e3e3;
    color: #222;
    font-family: sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero{
   
    width: 100%;
   
  }
  
  h1,
  h2,
  h3 {
    color: #333;
    margin: 0;
  }
  
  h1 {
    font-size: 3rem;
    margin-top:2em;
    text-shadow: 0.1px 0.1px 10px #f8005f31;
  }
  
  .hero h2 {
   
    font-size: 2rem;
    font-weight: normal;
    font-size: 20pt;
    margin-bottom: 1em;
    margin: 0.2em 7em 1em 7em;
    
  
  }
  
 
  
  .btn,
  .btn:hover,
  .btn:focus {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: transparent;
    border: 2px solid #222;
    border-radius: 0.3rem;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    
  }
  
  .btn:hover,
  .btn:focus {
    border-color: #333;
    background: rgba(226, 153, 216, 0.658);
   
  }

  .cv:hover{
      background: rgb(245, 170, 170);
  }
  
  .highlights {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .highlights .skills{
    height: 100%;
    min-height: 1.3em;
  }
  .card_img{
  
    width: 100%;
    height:auto;
    border: 1em solid #eee;
    
  }
  .card {
      border: 2px solid #00000030;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 20rem;
      margin: 1rem;
      padding-top: 1.5rem;
      background: #eee;
      border-radius: 1.3rem;
      overflow: hidden;
  }
  
  .card > * {
    padding: 0 1.5rem;
  }
  
  .card__btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background: rgba(235, 213, 232, 0.658);
    border: none;
    color: #222;
    text-decoration: none;
  }
  .optional{
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background: rgba(212, 211, 211, 0.836);
    border: none;
    color: #222;
    text-decoration: none;
  }
  
  .card__btn:hover {
    background: rgb(247, 203, 203);
  }
  
  
  .theme-toggle {
  width: 4em;
  height: 2.4em;
    margin-top: 0.7em;
    
  }
  
  .dark-theme {
    filter: invert();
  }
  
  @media(max-width: 957px ) {
    .hero h2{
      margin: 0.2em 0.3em 1em 0.3em;
      font-size: 15pt;
  }}