main {
  background:  linear-gradient(180deg, rgba(16,11,30,1) 1%, rgba(93,70,152,0.7567401960784313) 8%, rgba(229,13,119,0.16290266106442575) 66%, rgba(249,249,249,1) 100%);
    color: rgb(12, 11, 11);
    font-family: sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero{
    width: 100%;
  }
  
  h1,
  h2,
  h3 {
    color: rgb(236, 222, 222);
    margin: 0;
  }
  
  h1 {
    font-size: 3rem;
    margin-top:2em;
    text-shadow: 0.1px 0.1px 10px #f8005f31;
  }
  
  .hero h2 {
    font-size: 2rem;
    font-weight: normal;
    font-size: 20pt;
    margin-bottom: 1em;
    margin: 0.2em 7em 1em 7em;
  }
  
  
  .btn,
  .btn:hover,
  .btn:focus {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: rgb(16 11 30 / 85%);
    cursor: pointer;
    width: 3em;
    height: 3em;
    margin: 4px;
    box-shadow: -4px -4px 4px rgb(168 162 182 / 76%), 4px 4px 4px rgb(93 70 152 / 76%);
    border-radius: 119px;
}

    

  
  .btn:hover,
  .btn:focus {
    border-color: rgb(250, 247, 247);
    background: rgba(10, 3, 27, 0.137);
  }
  
  
  
  .highlights {
    margin: 6em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .highlights .skills{
    height: 100%;
    min-height: 1.3em;
  }
  .card_img{
  
    width: 100%;
    height:auto;
    border: 1em solid #eee;
    border-radius: 2em;
    
  }
  .card h3{
    color: #222;
  }
  
  .card {
      border: 2px solid #00000011;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 22rem;
      height: 100%;
      margin: 1rem;
      padding-top: 1.5rem;
      background: #eee;
      border-radius: 1.3rem;
      overflow: hidden;
  }
  
  .card > * {
    padding: 0 1.5rem;
  }
  
  .card__btn {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background: rgb(208 208 208 / 66%);
    border: none;
    color: #222;
    text-decoration: none;
  }
  .optional{
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.14);
    border: none;
    color: #222;
    text-decoration: none;
  }
  
  .card__btn:hover {
    background: rgba(147, 124, 228, 0.267);
    color: rgb(19, 7, 71);
  }
  
  
  .theme-toggle {
  width: 4em;
  height: 2.4em;
    margin-top: 0.7em;
    
  }
  
  .dark-theme {
    filter: invert();
  }
  

  @media(max-width: 957px ) {
    .hero h2{
      margin: 0.1em 0.3em 1em 0.3em;
      font-size: 15pt;
    }

      .highlights {
        margin: 3em 1em 3em 1em;
        
      }
  }


  